body {
	background: #cdd4dc;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #333;
}

header {
	width: 690px;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style: none;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0
}

nav ul li {
display: inline;
margin: 0 5px
}

section {
	width: 690px;
	background: white;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 25px;	
	padding: 20px;	
	border-radius: 10px;	
	box-shadow: 10px 10px 10px #555;
}

article {
	width: 690px;
	background: white;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 25px;	
	padding: 20px;	
	border-radius: 10px;	
	box-shadow: 10px 10px 10px #555;
}

footer {
	width: 690px;
	margin-left: auto;
	margin-right: auto;
}

article>p {
  text-indent: 2em;
}

pre, code {
	font-family: Inconsolata, inconsolata, "Source Code Pro", Terminus, Consolas, "Liberation Mono", "Bitstream Vera Sans Mono", "Andale Mono WT", "Andale Mono", Monaco, "Lucida Console", "Lucida Sans Typewriter", "Nimbus Mono L", "Courier New", Courier, monospace;
}

code {
	background: #e9e8e7;
	border: 1px solid #e0ddda;
	border-radius: .2em;
	padding: 0 .3ex;
}

pre {
	background-color: #202224;
	color: #f8f8f8;
	overflow-x: auto;
	border-radius: .3em;
	padding: 1em;
	margin-bottom: 1.5em;
}

pre > code { 
	display: block; 
	border: none; 
	background-color: inherit; 
}

table {
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid black;
}

th, td {
	padding: .3em;
	text-align: center;
}

ol {
	margin-left: 1em;
}

.keyword {
  color: #ffff00;
  font-weight: bold;
  font-style: normal;
}

.type {
  color: #00ff00;
  font-weight: normal;
  font-style: normal;
}

.string {
  color: #abab00;
  font-weight: bold;
  font-style: italic;
}

.specialchar {
  color: #bfbfbf;
  font-weight: normal;
  font-style: normal;
}

.comment {
  color: #888888;
  font-weight: normal;
  font-style: italic;
}

.number {
  color: #e87856;
  font-weight: normal;
  font-style: normal;
}

.preproc {
  color: #1da3cf;
  font-weight: normal;
  font-style: normal;
}

.symbol {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.function {
  color: #f34627;
  font-weight: normal;
  font-style: normal;
}

.cbracket {
  color: #ff00ff;
  font-weight: normal;
  font-style: normal;
}

.variable { 
	color: #869cbf; 
	font-weight: normal;
	font-style: italic;
}

@media only screen and (device-width: 768px) {
	/* 48em total: 38em body, 7em padding, 3em margin */
	header, footer, section, article { width: 48em; }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	/* 30em total: 28em body, 2em padding, 0em margin */
	header, footer, section, article { width: 30em; }
}
