body {
	background: #cdd4dc;
    margin: 0;
}

#container {
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
}

nav ul {
	list-style: none;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0
}

nav ul li {
    display: inline;
    margin: 0 5px
}

#content>section, #content>article {
	background: white;
	margin-top: 20px;
	margin-bottom: 25px;	
	padding: 20px;	
	border-radius: 10px;	
	box-shadow: 10px 10px 10px #555;
}

pre, code {
	font-family: Inconsolata, inconsolata, "Source Code Pro", Terminus, Consolas, "Liberation Mono", "Bitstream Vera Sans Mono", "Andale Mono WT", "Andale Mono", Monaco, "Lucida Console", "Lucida Sans Typewriter", "Nimbus Mono L", "Courier New", Courier, monospace;
}

code {
	background: #e9e8e7;
	border: 1px solid #e0ddda;
	border-radius: .2em;
	padding: 0 .3ex;
}

pre > code {
	display: block; 
	border: none; 
	background-color: inherit; 
}

table {
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid black;
}

th, td {
	padding: .3em;
	text-align: center;
}

dfn {
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4 {
    color: #111;
    text-shadow: rgba(50, 50, 50, .3) 1px 1px 2px;
}

.MathJax_Display {
    text-shadow: rgba(50, 50, 50, .3) 1px 1px 2px;
}

#toc ol {
    padding-left: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

figure {
    text-align: center;
}

img {
    box-shadow: 7px 7px 7px gray;
    max-width:300px;
}

figcaption {
    margin-top: 10px;
    font-size: small;
    font-weight: bold;
}

dt {
    display: list-item;
    margin-left: 1em;
}

@media only screen 
    and (max-width : 700px) {
    #container {
        width: inherit;
    }
    #content>section, #content>article {
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
    }
}

@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 700px) {
    #container {
        width: inherit;
    }
    #content>section, #content>article {
        padding: 5px;
        border-radius: 5px;
        box-shadow: none;
    }
}

.float {
    position: fixed;
    opacity: 0.7;
}

#tocSwitcher {
    bottom: 30px;
    right: 50px;
    width: 45px;
    height: 45px;
    background: transparent url(../images/sideToolbar.gif) 0 0 no-repeat;
    cursor: pointer;
}

#toc {
    bottom: 30px;
    right: 120px;
    max-width: 12em;
    display: none;
	background: white;
	padding-right: 10px;
	box-shadow: 5px 5px 5px #555;
}

#back-top {
    bottom: 80px;
    right: 35px;
}

#back-top a {
    width: 80px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    transition: 1s;
}

#back-top a:hover {
    color: #000;
}

#back-top span {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 7px;
    background: transparent url(../images/up-arrow.png) no-repeat center center;
    border-radius: 15px;
    transition: 1s;
}

#back-top a:hover span {
    background-color: #888;
}

a.duokan-footnote img {
    box-shadow: none;
}

p.prologue {
    font-family: "仿宋" "华文仿宋";
    font-weight: bold;
    font-style: normal;
    font-size: 120%;
}

p.content {
    font-family: "楷体" "华文楷体";
    font-weight: normal;
    font-style: normal;
    font-size: 120%;
}

ol.duokan-footnote-content {
    font-size: 90%;
}

pre {
    background-color: #202224;
    color: #f8f8f8;
    overflow-x: auto;
    border-radius: .3em;
    padding: 1em;
    margin-bottom: 1.5em;
}

#toc a {
	border-bottom: 1px solid gray;
	background-color: rgb(226, 226, 226);
	margin-top: 2px;
	box-shadow: 1px 1px 1px rgb(148, 148, 148);
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.collapsibleList li{
  list-style-image:url('../images/button.png');
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('../images/button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('../images/button-closed.png');
  cursor:pointer;
}

.sidelegend {
  position: fixed;
  overflow: hidden;
  font-size: small;
  line-height: 1em;
  padding: 0 0 0 20px;
}

.sidelegend a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px 10px;
  background: #0F393E;
  color: white;
  display: block;
}

.sidelegend a:hover {
  text-decoration: none;
}
