body {
	background: #cdd4dc;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #333;
}

header {
	width: 690px;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style: none;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0
}

nav ul li {
display: inline;
margin: 0 5px
}

section {
	width: 690px;
	background: white;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 25px;	
	padding: 20px;	
	border-radius: 10px;	
	box-shadow: 10px 10px 10px #555;
}

article {
	width: 690px;
	background: white;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 25px;	
	padding: 20px;	
	border-radius: 10px;	
	box-shadow: 10px 10px 10px #555;
}

footer {
	width: 690px;
	margin-left: auto;
	margin-right: auto;
}

article>p {
  text-indent: 2em;
}

pre, code {
	font-family: Inconsolata, inconsolata, "Source Code Pro", Terminus, Consolas, "Liberation Mono", "Bitstream Vera Sans Mono", "Andale Mono WT", "Andale Mono", Monaco, "Lucida Console", "Lucida Sans Typewriter", "Nimbus Mono L", "Courier New", Courier, monospace;
}

code {
	background: #e9e8e7;
	border: 1px solid #e0ddda;
	border-radius: .2em;
	padding: 0 .3ex;
}

pre {
	background-color: #202224;
	color: #f8f8f8;
	overflow-x: auto;
	border-radius: .3em;
	padding: 1em;
	margin-bottom: 1.5em;
}

pre > code { 
	display: block; 
	border: none; 
	background-color: inherit; 
}

table {
	border-collapse:collapse;
}

table,th, td {
	border: 1px solid black;
}

th, td {
	padding: .3em;
	text-align: center;
}

/* Source code (From Twilight Color Theme for Emacs)
Unspecified code selectors: value, cbracket, context, usertype,
classname, specialchar, symbol, todo, linenum, url */
code .bold { font-weight: bold; }
code .italics { font-style: italic; }
code .underline { text-decoration: underline; } /* LaTeX */
code .fixed { font-family: monospace; } /* LaTeX */
code .bibtex, /* LaTeX */
code .keyword { font-weight: bold; color: #e5bc75; }
code .math, /* LaTeX */
code .date, /* ChangeLog */
code .time, /* ChangeLog */
code .oldfile, /* diff */
code .string, code .regexp, code .character { color: #a8b87d }
code .name, /* ChangeLog */
code .newfile, /* diff */
code .number { color: #e87856; }
code .file, /* ChangeLog */
code .function { color: #e3e3e3; }
code .selector, /* css */
code .type { font-weight: bold; color: #b5834a; }
code .ip, /* ChangeLog */
code .property, /* CSS */
code .argument, /* LaTeX */
code .optionalargument, /* LaTeX */
code .variable { color: #869cbf; }
code .preproc, code .comment { color: #79737a; }
code .difflines  { font-weight: bold; } /* diff */